* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: #f1ebde;
}

h1 {
  color: #28524f;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  text-align: center;
  padding: 14px;
}

h2{
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

nav {
  padding: 7px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #28524f;
  font-size: 25px;
  padding: 5px;
}

nav a.selected {
  text-decoration: underline;
}

section{
    text-align: center;
    margin: auto;
    background-color: #fff;
    color: #28524f;
    width: 85%;
    margin-top: 5%;
    padding: 100px;
    font-size: 40px;
    box-shadow: 4px 4px 9px 0px rgba(224,213,191,0.78);
    margin-bottom: 7.6%;
}

.projects{
  padding: 40px 20px 20px 20px;
  max-width: 1000px;
}

button{
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin-top: 4%;
}

button:hover{
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color:#e9e9e9;
  position: relative;
  top: 1px;
}

button:active{
  position: relative;
  top: 1px;
}

footer{
  text-align: center;
  height: 140px;
  background-color: #446e6c;
  position: relative;
}

h6{
  color: #fff;
  padding-top: 55px;
  font-size: 26px;
  font-family: "Playfair Display", serif;
}

/*FADE IN*/
.fade-in {
  animation: fadeIn ease 2pls;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*MOBILE STYLES*/
@media only screen and (max-width: 940px) {
  section{
    width: 100%;
    padding: 40px;
    font-size: 40px;
    box-shadow: 4px 4px 9px 0px rgba(224,213,191,0.78);
    margin-bottom: 7.6%;
  }

}