* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-image: url(images/bg_image.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

nav {
  text-align: center;
  padding: 30px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-size: 30px;
  text-shadow: 3px 3px 6px rgb(7, 13, 34);
}

nav a.selected{
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 8%;
  padding: 20px;
  font-size: 120px;
  color: #FBF0EF;
  font-family: 'Playfair Display', serif;
}

h2 {
  text-align: center;
  padding: 10px;
  font-size: 50px;
  color: #FBF0EF;
}

section{
  background-color: #fdf9f9;
  width: 80%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}

.code{
  max-width: 1250px;
  padding: 30px;
}

article{
  background-color: #fdf9f9;
  width: 80%;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  padding: 30px;
}

label{
  font-size: 30px;
  color: #7e6b7c;
  font-family: 'Playfair Display', serif;
  padding: 20px;
}



button{
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin-top: 4%;
}

button:hover{
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color:#e9e9e9;
  position: relative;
  top: 1px;
}

footer{
  text-align: center;
  font-size: 25px;
  background-color: #FBF0EF;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #9b8198;
  height: 140px;
  padding: 30px;
  box-shadow: 0px -5px 5px 0px #7e6b7c;
  position: absolute;
 bottom: 0;
 width: 100%;
}

#footer{
  text-align: center;
  font-size: 25px;
  background-color: #FBF0EF;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #9b8198;
  height: 140px;
  padding: 30px;
  box-shadow: 0px -5px 5px 0px #7e6b7c;
  position: relative;
 bottom: 0;
 width: 100%;
}

.social{
  width: 100%;
  max-width: 50px;
  padding: 5px;
}

.social:hover{
  opacity: 60%;
}



/* mobile styles */
@media screen and (max-width: 991px) {
  /* start of large tablet styles */
    h1{
      margin-top: 15%;
      font-size: 95px;
    }

    section{
      width: 100%;
    }

    article{
      width: 100%;
    }

    .code{
      max-width: 2000px;
      padding: 5px;
      margin-top: 3%;
    }

  }
  
